<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="|The Best ${topic.title} Blogs|">Page Title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta th:attr="content=${#strings.listJoin(comments.getRelatedTopicTitles(),', ')}" name="keywords" />
		<meta name="description" th:attr="content=|The Best Blogs for ${topic.title}, ${#strings.listJoin(comments.getRelatedTopicTitles(),', ')}|" />
		<link th:if="${lastPage != 1} and ${page != lastPage}" rel="next" th:href="@{''(page=${page+1})}" />
		<link th:if="${page != 1}" rel="prev" th:href="@{''(page=${page-1})}" />
 		<style>
			.odd {
				float:right;
			}
			.even {
				float:left;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		</style>
	</head>
	<body>
		<h1 th:text="${topic.title}">Topic</h1>
		<div>
			Related:
			<p th:each="rt : ${comments.relatedTopics}"><a th:href="@{'..'+${topicPaths[rt.topicId]}}" th:text="${rt.title}" /></p>
		</div>
		<div th:switch="${page}" th:if="${lastPage != 1}">
			<span th:case="1" th:inline="text">Page [[${page}]] of [[${lastPage}]] <a th:href="@{''(page=2)}">Next&gt;</a>&nbsp;&nbsp;  <a th:href="@{''(page=${lastPage})}">Last&gt;&gt;</a></span>
			<span th:case="${lastPage}" th:inline="text"><a th:href="@{''(page=1)}">&lt;&lt;First</a>&nbsp;&nbsp;  <a th:href="@{''(page=${lastPage-1})}">&lt;Prev</a>&nbsp;&nbsp;  Page [[${page}]] of [[${lastPage}]]</span>
			<span th:case="*" th:inline="text"><a th:href="@{''(page=1)}">&lt;&lt;First</a>&nbsp;&nbsp;  <a th:href="@{''(page=${page-1})}">&lt;Prev</a>&nbsp;&nbsp;  Page [[${page}]] of [[${lastPage}]] <a th:href="@{''(page=${page+1})}">Next&gt;</a>&nbsp;&nbsp; <a th:href="@{''(page=${lastPage})}">Last&gt;&gt;</a></span>
		</div>

		<div th:each="comment,cStat : ${comments.comments}">
			<p th:utext="${linkContent[comment.cgroupId][t]}" style="font-size: larger">Title</p>
			<div th:class="${cStat.odd}?'odd':'even'">
				<div style="width: auto; height: 10em; margin:0em 1em 1em 0">
				<img th:if="${comment.photoPath}" th:src="${comment.photoPath}" style="width: auto; height: 10em" th:alt-title="${linkContent[comment.cgroupId][t]}" />
				</div>
			</div>
			<div>
				<div style="min-height: 11em; padding-bottom: 0.4em;"> 
					<span style="word-wrap: break-word;" th:text="${comment.content}">Post Content</span>
					[<a th:href="${linkContent[comment.cgroupId][u]}">Source</a>]
				</div>
				<div>
					Posted: 
					<span th:text="${comment.createDate}">Post Create Date </span>
					See also: 
					<p th:each="topic,tStat : ${comment.topicTitles}">
						<a th:href="@{'..'+${topicPaths[comment.topicIds[tStat.index]]}}" href="/text/topic" th:utext="${topic}">Related Topic</a>
					</p>
				</div>
			</div>
			<hr />
		</div>
	</body>
</html>